---
# Use Ubuntu 'trusty' distribution
sudo: required
dist: trusty

install:
  # Update docker-engine using Ubuntu 'trusty' apt repo
  - >
    curl -sSL "https://get.docker.com/gpg" |
     sudo -E apt-key add -
  - >
    echo "deb https://apt.dockerproject.org/repo ubuntu-trusty main" |
     sudo tee -a /etc/apt/sources.list
  - sudo apt-get update
  - >
    sudo apt-get -o Dpkg::Options::="--force-confdef" \
     -o Dpkg::Options::="--force-confold" --assume-yes install docker-engine
  - docker version
  # Update docker-compose via pip
  - sudo pip install docker-compose
  - docker-compose version

  - echo install

  - pwd

  - git clone --single-branch --branch master https://github.com/jkbits1/backend $HOME/build/jkbits1/be

  - ls $HOME/build/jkbits1/be

before_script:
  - echo before

  - ls $HOME/build/jkbits1/be

  - docker-compose -f $HOME/build/jkbits1/be/docker/compose/full-stack-test/docker-compose-dev-build-test.yml build --build-arg REPO=https://github.com/jkbits1/voteamerica.github.io --build-arg BRANCH_NAME=$TRAVIS_BRANCH --build-arg CACHEBUST=$(date +%s) cp-front-end

  - docker-compose -f $HOME/build/jkbits1/be/docker/compose/full-stack-test/docker-compose-dev-build-test.yml up -d

script:
  # - ./docker/compose-tests.sh
  - $HOME/build/jkbits1/be/docker/compose-tests.sh match

after_script:
  - docker-compose -f $HOME/build/jkbits1/be/docker/compose/full-stack-test/docker-compose-dev-build-test.yml down
