@import "//fonts.googleapis.com/css?family=Montserrat";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
}

a, a:visited, a:active, a:hover {
    text-decoration: underline;
    color: #e64a4a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 10px;
}


/* end Sticky footer styles */

#pnlNeedRide {
    display: none;
}

#pnlOfferRide {
    display: none;
}

h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}

.panel > .panel-heading {
    background-color: #297bbb;
}

.panel-title {
    text-transform: uppercase;
    color: #fff; 
}

.btn {
    text-transform: uppercase;
}

#jumboMain {
    background-image: url(BackgroundRoad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#pnlIntro {
    color: #fff;
}

/* how to register to vote */

.rock-image {
    width: 10px;
    padding-bottom: 10px;
}

.rock-vote-links {
    margin-left: -10px;
}

.rock-vote-support, .state-caption {
    color: #297bbb;
    font-weight: bold;
}
.rock-vote-support {
    padding-top: 10px;
}

.election-protection {
    padding-bottom: 8px;
}

a.election-protection-link {
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

label.collection { 
    font-weight: 400;
    padding: 5px; 
}

.miles {
    width: 50px;
    padding: 4px;
    border: none;
    border: 1px solid lightgrey;
    border-radius: 4px;

}
/* dropdown: Am I register?, Check Your Polling Location*/

.state-dropdown, .state-caption { 
    display: inline-block; 
}


.state-caption { 
    text-align: left; 
    padding-right: 10px;
    font-size: 16px;
    margin-bottom: 4px;}

.location-dropdown {
    margin: 14px;
    font-size: 18px;
}

.time-range-slider {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
}

.noUi-pips-horizontal {
    padding-bottom: 0;
    padding-top: 47px;
    position: relative;
    top: -40px;
}

.noUi-value-horizontal {
    margin-top: 3px;
}

.remove-time:hover {
    text-decoration: underline;
    cursor: pointer;
}

#rider-add-time {
    width: 75%;
    margin-bottom: 15px;
}

h5 {
    font-size: 1.2em;

}

#rider-available-times {
    min-height: 30px;
    list-style: initial;
}

#rider-available-times li {
    margin-left: 20px;
}

.datepicker {
    clear: both;
    display: block;
}

.date-time-pickers label {
    display: none;
}

.times-list-title {
    clear: both;
    display: block;
}
