@import "//fonts.googleapis.com/css?family=Montserrat";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
}

a, a:visited, a:active, a:hover {
    text-decoration: underline;
    color: #e64a4a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 10px;
}


/* end Sticky footer styles */

#pnlNeedRide {
    display: none;
}

#pnlOfferRide {
    display: none;
}

h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}

.panel > .panel-heading {
    background-color: #297bbb;
}

.panel-title {
    text-transform: uppercase;
    color: #fff; 
}

.btn {
    text-transform: uppercase;
}

#jumboMain {
    background-image: url(BackgroundRoad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#pnlIntro {
    color: #fff;
}