html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.supportbanner {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 2px solid #cc3939;

    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #e64a4a;
}

.nav {
    width: 95%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto 20px;
}

.logo__link {
    display: inline-block;
}

.logo__img {
    width: 90%;
    margin: 0px auto 20px;
    max-width: 320px;
    display: block;
}

.social {
    margin-top: 20px;
}

.social li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

a.twitter-mention-button {
    visibility: hidden;
}

iframe.twitter-mention-button {
    margin-top: 2px;
}

.nav__links {
    text-align: center;
}

.nav__item {
    display: inline;
    border-right: solid 1px #297bbb;
}

.nav__support {
    border-right: 0;
}

.nav__link {
    padding: 0 10px;
    font-size: 16px;
    color: #e64a4a;
    text-decoration: none;
}

.content {
    padding-bottom: 20px;
    background-color: #eee;
}

.main {
    background: url('road.jpg') no-repeat top center;
    padding: 15px;
    background-size: cover;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 1.3em;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #000000;
}
.button-container {
    text-align: center;
    margin-bottom: 20px;
}
.button {
    margin: 0 7px;
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    background-color: #297bbb;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.button--alt {
    background-color: #5cb85c;
}

.lead {
    margin-bottom: 1em;
    line-height: 1.3em;
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 5px #000000;
}

.ride_options {
    margin-top: 100px;
    max-width: 470px;
    margin: 100px auto 0;
}

.needride,
.offerride {
    max-width: 470px;
    margin: 20px 0;
    padding: 10px 0;
    flex-shrink: 0;
}

.ride__container {
    position: relative;
    background-color: white;
    color: #333;
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 75px;
    padding: 15px;
}

.ride__container:before {
    content: '';
    position: absolute;
    top: -75px;
    right: 50%;
    transform: translateX(50%);
    width: 180px;
    height: 90px;
    -webkit-border-top-left-radius: 180px;
    -webkit-border-top-right-radius: 180px;
    -moz-border-radius-topleft: 180px;
    -moz-border-radius-topright: 180px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    background-color: white;
}

.ride__container:after {
    content: '';
    background: url(img/rider.jpg) center no-repeat;
    position: absolute;
    top: -58px;
    right: 50%;
    display: block;
    width: 54px;
    height: 58px;
    transform: translateX(50%);
}

.offerride .ride__container:after {
    background-image: url(img/driver.jpg);
}

.ride__title {
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #e64a4a;
}

.ride__text {
    font-size: 15px;
    line-height: 1.4em;
    margin-bottom: 1em;
}

.offerride__form,
.needride__form {
    /*display: none;*/
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.bannerbox {
    max-width: 470px;
    margin: 10px auto 10px;
    border-top: 10px solid white;
    border-bottom: 1px solid transparent;
    background-color: white;
}

.bannerbox__title {
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    background-color: #297bbb;
}

.bannerbox__title:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -5px;
    width: 6px;
    height: 38px;
    background-color: #297bbb;
}

.bannerbox__title:after {
    content: '';
    position: absolute;
    top: 38px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: transparent #165c92 transparent transparent;  /*dark blue swap with correct colour*/
}

.bannerbox__text {
    margin: 15px 15px 1em 15px;
    line-height: 1.4em;
}

.bannerbox__list {
    margin: 15px 15px 1em 15px;
    padding-left: 20px;
}

.bannerbox__item {
    display: list-item;
    list-style: disc;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.footer {
    padding: 20px;
    border-top: 10px solid #e64a4a;
    color: #333;
    background-color: #ccc; /* replace with real grey */
}

.footer__text {
    max-width: 1200px;
    margin: 0 auto 1em;
}

.newsletter {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__link {
    color: #e64a4a;
}

.newsletter__label {
    display: block;
}

.newsletter__input {
    margin: 10px 0;
    padding: 5px;
    min-width: 200px
}

.newsletter__submit {
    margin-left: 5px;
    padding: 4px 10px 6px;
    border: 0;
    font-size: 14px;
    color: white;
    background-color: #297bbb;
}

@media (min-width: 620px) {
    .supportbanner {
        margin-bottom: 80px;
        font-size: 18px;
    }

    .logo__img {
        max-width: 560px;
    }

    .nav__item:hover {
        color: #e64a4a;
    }

    .ride_options {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-around;
        margin-top: 60px;
    }

    .ride__title {
        font-size: 26px;
    }

    .ride__text {
        font-size: 16px;
    }

    .about {
        padding: 0 20px;
    }

    .bannerbox {
        width: calc(50% - 30px);
        max-width: 1000px; /* large number */
    }
}

@media (min-width: 960px) {
    .supportbanner {
        margin-bottom: 24px;
    }

    .nav {
        position: relative;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo__img {
        max-width: 300px;
        margin-bottom: 24px;
    }

    .social {
        position: absolute;
        left: 0;
        top: 30%;
        margin-top: 0;
    }

    .social li {
        margin-left: 0;
    }

    .nav__links {
        position: absolute;
        right: 0;
        top: 30%;
    }


    .content {
        border-top: 100px solid white;
    }

    .main {
        width: 90%;
        max-width: 1200px;
        margin: -100px auto 0;
        padding: 40px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background-size: cover;
    }

    .title {
        font-size: 34px;
        font-weight: bold;
        text-transform: none;
        letter-spacing: 0.5px;
        text-shadow: none;
    }

    .lead {
        margin: 0 auto 1em;
        max-width: 900px;
        text-align: center;
        text-shadow: none;
    }

    .about {
        padding: 0;
    }
    .bannerbox {
        width: calc(50% - 20px);
        margin: 20px 0;
    }
}

@media (min-width: 1200px) {
    .nav__link {
        font-size: 18px;
        margin: 0 10px;
    }
}

.time-range-slider {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 10px;
}

.noUi-pips-horizontal {
    padding-bottom: 0;
    padding-top: 47px;
    position: relative;
    top: -40px;
}

.noUi-value-horizontal {
    margin-top: 3px;
}

.remove-time:hover {
    text-decoration: underline;
    cursor: pointer;
}

#rider-add-time {
    width: 75%;
    margin-bottom: 15px;
}

h5 {
    font-size: 1.2em;

}

#rider-available-times {
    min-height: 30px;
    list-style: initial;
}

#rider-available-times li {
    margin-left: 20px;
}

.datepicker {
    clear: both;
    display: block;
}

.date-time-pickers label {
    display: block;
}