@import "//fonts.googleapis.com/css?family=Montserrat";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
}

a, a:visited, a:active, a:hover {
    text-decoration: underline;
    color: #e64a4a;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 10px;
}


/* end Sticky footer styles */

#pnlNeedRide {
    display: none;
}

#pnlOfferRide {
    display: none;
}

h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}

.panel > .panel-heading {
    background-color: #297bbb;
}

.panel-title {
    text-transform: uppercase;
    color: #fff; 
}

.btn {
    text-transform: uppercase;
}

#jumboMain {
    background-image: url(BackgroundRoad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

#pnlIntro {
    color: #fff;
}
/* how to register to vote */

.rock-image {
    width: 10px;
}

.rock-vote-links {
    margin-left: -10px;
}

.rock-vote-support {
    color: #297bbb;
    padding-top: 10px;
    font-weight: bold;
}

.election-protection {
    padding-bottom: 8px;
}

a.election-protection-link {
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}
/* dropdown: Am I register? */

.state-details { padding-left: 20px; }

.state-dropdown, .state-caption { 
    display: inline-block; 
}

.state-caption { 
    text-align: left; 
    padding-right: 10px;
    font-size: 14px;
    margin-left: -5px;
}

