<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{page.title}} | {% endif %}{{site.name}}</title>
    <meta name="description" content="" property="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta name="keywords" content="" property="keywords">

    <meta property="og:url" content="http://carpoolvote.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if page.title %}{{page.title}} | {% endif %}{{site.name}}" />
    <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
    <meta property="og:image" content="http://carpoolvote.com/images/logo.png" />

    <link rel="icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        ! function(g, s, q, r, d) {
            r = g[r] = g[r] || function() {
                (r.q = r.q || []).push(
                    arguments)
            };
            d = s.createElement(q);
            q = s.getElementsByTagName(q)[0];
            d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
            q.parentNode.
            insertBefore(d, q)
        }(window, document, 'script', '_gs');
        _gs('GSN-777832-U');
    </script>
</head>