<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    // Facebook SDK
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<header class="header">
    <p class="support-banner">For help using Carpool Vote, call or SMS: <a href="tel:8042393389">804-239-3389</a></p>
    <nav class="nav wrapper">
        <a href="/" class="logo">
            <img id="logo" class="logo__img" src="/images/logo.png" alt="Carpool Vote" width=709 height=187 />
        </a>

        <ul id="nav-links" class="nav__links">
            {% if page.navigation == 'full' %}
                <li class="nav__item nav__story">
                    <a href="/story/" class="nav__link story" id="story-link">Our story</a>
                </li>
                <li class="nav__item nav__how">
                    <a href="/how-it-works/" class="nav__link">How it works</a>
                </li>
                <li class="nav__item nav__support">
                    <a href="#howtoclaim" class="nav__link scroll">Voting info</a>
                </li>
            {% else %}
                <li class="nav__item nav__story">
                    <a href="/" class="nav__link" id="home-link">Back to Home</a>
                </li>
            {% endif %}
        </ul>

        <ul class="social">
            <li role="presentation" class="social__twitter">
                <a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-text="Support #Democracy4All this #Election2016. Sign up on @CarpoolVote: Linking drivers with voters needing a ride" data-url="http://carpoolvote.com" data-related="" data-show-count="false">Tweet to help others find out about this!</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li role="presentation" class="social__facebook">
                <div class="fb-share-button" data-href="http://carpoolvote.com?v=1" data-layout="button"></div>
            </li>
            <li role="presentation" class="social__youtube">
                <a href="https://www.youtube.com/channel/UCY1aS3TMDGxVbckA7Va0QFA?sub_confirmation=1" target="_blank">YouTube</a>
            </li>
        </ul>

    </nav>
    <div id="google_translate_element"></div>
</header>