---
layout: default
permalink: operator-page/
operatorpage: true
title: Manage the system
---

{% include api.html %}
{% include cp_site.html %}

<main class="content">
    <div class="wrapper single-column offset-top">
        <div class="bannerbox">
            <h1 class="bannerbox__title">Manage the system</h1>
            <div class="bannerbox__content self-service">
                <form id="login" style="display: none;" name="login" action="{{ api }}/users/authenticate" method="post" aria-hidden="false">
                    <div id="enter-uuid" class="form-group">
                        <label for="username">Please enter your username</label>
                        <input type="text" id="username" name="username" class="form-input form-input--medium" placeholder="e.g. 1a2b-3c4d-5e6f-7g8hi9j0klmno" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div id="enter-phone" class="form-group">
                        <label for="password">Enter your password</label>
                        <input type="tel" id="password" name="password"  class="form-input form-input--medium" placeholder="e.g. 1234567890" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button button--large" id="loginSubmit">Sign in</button>
                        <a class="align-right close-form" href="#intro">Back</a>
                    </div>
                    <div id="manageLogin" >
                        <p id="infoLogin"></p>
                    </div>
                </form>

                <div id="manage" style="display:block" aria-hidden="true">
                    <p>Welcome to the new operator admin page. Please note that this section is still a work in progress. Some features are still under contruction, and may be a little temperamental. If you encounter any issues, please <a href="mailto:selfservice@carpoolvote.com">email us</a>. Thank you for your understanding!</p>
                    <p id="infoAdmin"></p>

                    <div>
                        <div>                         
                            <a href="{{ api }}/users/list">users list</a>

                            <button class="button button--large" id="getUsersList">Get Users List</button>
                        </div>
                        <div id="usersList">                         
                            <ul></ul>
                        </div>
                    </div>
                    <div id="root">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
