/* Base */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.content {
    border-top: 100px solid white;
    padding-bottom: 20px;
    background-color: #eee;
}


/* Utilities */

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.single-column {
    max-width: 850px;
}

.offset-top {
    margin-top: -120px;
}

.align-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.align-right {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/* Typography */

a {
    color: #e64a4a;
}

ul, ol {
    padding-left: 1.6em;
}

li {
    margin: 0.4em 0;
}

/* Buttons */

.button {
    display: inline-block;
    font-size: 1em;
    padding: 0.4em 1em 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: none;
    background-color: #297bbb;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset, 0 -3px 0 rgba(0,0,0,0.1) inset;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    min-width: 4em;
    font-weight: bold;
    transition: all ease 0.1s;
}

.button:hover, .button:focus {
    text-decoration: none;
    color: white;
    background-color: #5091c3;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset, 0 -3px 0 rgba(0,0,0,0.2) inset;
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset, 0 3px 0 rgba(0,0,0,0.2) inset;
}

.button[disabled] {
    pointer-events: none;
    opacity: 0.3;
}

.button--large {
    font-size: 1.2em;
    padding: 0.5em 1.5em 0.6em;
}

.button--alt {
    background-color: #5cb85c;
}

.button--alt:hover, .button--alt:focus {
    background-color: #78c778;
}

.button--danger {
    background-color: #e64a4a;
}

.button--danger:hover, .button--danger:focus {
    background-color: #f86464;
}

.button--cancel {
    background: none;
    border: none;
    color: crimson;
    font-weight: bolder;
    cursor: pointer;
    padding: 0 5px;
    font-size: 40px;
    transition: all ease 0.1s;
    outline: none;
    text-decoration: none;
}

.button--cancel:hover, .button--cancel:focus {
    transform: scale(1.3);
}

/* Header */

.support-banner {
    margin: 0 0 20px;
    padding: 10px;
    border-bottom: 2px solid #cc3939;
    text-align: center;
    color: white;
    background-color: #e64a4a;
}

.support-banner a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
    padding: 0 0.2em;
}

.support-banner a:hover {
    background-color: rgba(0,0,0,0.15);
    text-decoration: none;
}

.nav {
    text-align: center;
    margin: 0 auto 20px;
}

.logo {
    display: inline-block;
}

.logo__img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0px auto 20px;
    max-width: 320px;
}

.social {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
}

.social li {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
    position: relative;
}

.header .social li {
    margin: 0 5px;
}

.social__twitter {
    top: 2px;
}

.social__youtube a {
    display: inline-block;
    background-color: #e62117;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 6px 3px;
    font-family: Helvetica, Arial, sans-serif;
    vertical-align: top;
}
.social__youtube a:before {
    content: '';
    background: url('../images/youtubeIcon.png') no-repeat center;
    background-size: contain;
    width: 16px;
    height: 12px;
    display: inline-block;
    margin: -1px 4px 0 0;
    vertical-align: top;
    transform: scale(0.9);
}
.social__youtube a:hover {
    background-color: #cc181e;
}

a.twitter-mention-button {
    visibility: hidden; /* Don't show link til it's loaded */
}


.nav__links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.nav__item {
    display: inline;
    border-right: solid 1px #297bbb;
}

.nav__support {
    border-right: 0;
}

.nav__link {
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
}


/* Intro */

.intro {
    background: #275880 url('../images/road.jpg') no-repeat top center;
    background-size: cover;
    padding: 15px;
    margin-top: -100px;
    padding: 20px;
    border-radius: 6px;
}

.intro.s2tp {
    background-image: url('../images/forest.jpg');
}

.intro__banner {
    text-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

.intro__title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    margin: 15px 0;
}

.intro__lead {
    font-size: 1.2em;
    font-weight: bold;
}

.ride {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ride__panel {
    position: relative;
    max-width: 470px;
    flex-shrink: 0;
    margin: 100px 0 20px;
    padding: 35px;
    background-color: white;
}

.ride__panel:before {
    content: '';
    position: absolute;
    top: -75px;
    right: 50%;
    transform: translateX(50%);
    width: 180px;
    height: 90px;
    -webkit-border-top-left-radius: 180px;
    -webkit-border-top-right-radius: 180px;
    -moz-border-radius-topleft: 180px;
    -moz-border-radius-topright: 180px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    background-color: white;
}

.ride__panel:after {
    content: '';
    background: url('../images/rider.jpg') center no-repeat;
    position: absolute;
    top: -58px;
    right: 50%;
    display: block;
    width: 54px;
    height: 58px;
    transform: translateX(50%);
}

.offerride:after {
    background-image: url('../images/driver.jpg');
}

.ride__title {
    margin-top: 0;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #e64a4a;
}

.ride__copy {
    min-height: 100px;
}

.ride__panel .button {
    min-width: 65%;
    text-transform: uppercase;
}


/* Forms */

.forms {
    margin-bottom: 30px;
    min-height: 120px;
}

.ride-form {
    display: none;
}

.forms .bannerbox__content {
    padding-top: 5px;
    position: relative;
}

.button--cancel.close-form {
    position: absolute;
    top: -12px;
    right: 13px;
}

fieldset {
    border: none;
    padding: 20px 0 0;
    margin: 30px 0;
}

legend {
    padding: 0 6px;
    margin-left: -6px;
    font-weight: bold;
    font-size: 1.4em;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 1.6;
}

.optional {
    font-size: 12px;
    color: #999;
    margin-left: 15px;
    font-style: normal;
}

.form-input {
    border-radius: 3px;
    background: white;
    border: 1px solid #aaa;
    box-shadow: none;
    color: #333;
    padding: 8px 12px;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    max-width: 500px;
}

.form-input--medium {
    max-width: 300px;
}

.form-input--small {
    max-width: 150px;
}

.form-input--inline {
    width: 80px;
    display: inline-block;
    margin: 0 0.5em;
    text-align: center;
    padding: 8px;
}

.form-group small {
    display: block;
}

.checkbox label {
    display: inline-block;
    min-height: 10px;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox--multi > p {
    font-weight: bold;
    margin: 0 0 5px;
}

.checkbox--multi label {
    display: block;
    margin: 5px 0;
}

.checkbox input {
    margin: 5px 0 0 -25px;
    position: absolute;
}

.checkbox small {
    padding-left: 25px;
    margin-top: 10px;
}

.has-error label,
.has-error .help-block {
    color: #a94442;
}

.has-error .form-input {
    border-color: #a94442;
    background-color: #fff7f7;
}

.help-block {
    display: block;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 13px;
}

.has-error.checkbox .help-block {
    padding-left: 25px;
}

.help-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Dropdown: 'Am I registered?', 'Check Your Polling Location' */

.state-dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #ccc;
    max-width: 300px;
    max-height: 120px;
    overflow: auto;
}


.state-dropdown::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.state-dropdown::-webkit-scrollbar-track {
    background: #eee;
}

.state-dropdown::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #777;
    min-height: 25px;
}

.state-dropdown__item {
    margin: 0;
}
.state-dropdown__item:nth-child(odd) {
    background: #f7f7f7;
}

.state-dropdown__item a {
    color: #333;
    text-decoration: underline;
    display: block;
    padding: 3px 10px;
    transition: all ease 0.1s;
}

.state-dropdown__item a:hover {
    background-color: #e64a4a;
    color: white;
    text-decoration: none;
}

.state-dropdown-small{
	max-height:92px;
}



/* Available times list */

.available-times {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.available-times__row {
    padding: 20px 20px 10px;
    position: relative;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.available-times .form-group {
    margin-bottom: 10px;
}

.available-times__row:nth-child(even) {
    background-color: #fcfcfc;
}

.available-times__row:nth-child(odd) {
    background-color: #f3f3f3;
}

.remove-time {
    position: absolute;
    right: 8px;
    top: 6px;
    opacity: 0.6;
    font-size: 25px;
}

.available-times__row:hover .remove-time {
    opacity: 1;
}

.add-time-btn {
    margin: 15px 10px 15px 0;
}

.date-time-pickers small {
    display: inline-block;
}


/* Main content section */

.bannerbox {
    margin: 30px 0;
    border-top: 10px solid white;
    border-bottom: 1px solid transparent;
    background-color: white;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.bannerbox__title {
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 1em;
    letter-spacing: 1px;
    color: white;
    background-color: #297bbb;
}

.bannerbox__title:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -5px;
    width: 6px;
    height: 38px;
    background-color: #297bbb;
}

.bannerbox__title:after {
    content: '';
    position: absolute;
    top: 38px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: transparent #165c92 transparent transparent;  /*dark blue swap with correct colour*/
}

.bannerbox__content {
    padding: 0 20px 15px;
}


/* Footer */

.footer {
    padding: 50px 20px;
    color: #333;
    background-color: #c8c8c8;
    border-top: 4px solid #c93334;
    box-shadow: inset 0 8px 0 #e5494a;
}

.newsletter__input {
    display: inline-block;
    padding: 0.4em 1em 0.5em;
    margin-right: 8px;
    vertical-align: middle;
    max-width: 300px;
}

.newsletter__input,
.newsletter__submit {
    margin-bottom: 10px;
}


/* Media queries */

@media (min-width: 620px) {
    .support-banner {
        font-size: 1.3em;
    }

    .logo__img {
        max-width: 560px;
    }

    .nav__item:hover {
        color: #e64a4a;
    }

    .ride {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-around;
        margin-bottom: 0;
    }

    .ride__title {
        font-size: 26px;
    }

    .ride__text {
        font-size: 16px;
    }

    .forms .bannerbox__content {
        padding-left: 30px;
        padding-right: 30px;
    }

    fieldset {
        border: 1px solid #ddd;
        padding: 25px 30px 10px;
    }


    .available-times__row {
        padding: 15px 60px 5px 30px;
    }

    .available-times label,
    .available-times .form-input {
        display: inline-block;
        width: auto;
    }

    .available-times label {
        margin-right: 0.5em;
    }

    .available-times .help-block {
        margin: 0;
    }

    .available-times .form-group {
        display: inline-block;
        vertical-align: top;
        padding-right: 40px;
        min-width: 220px;
    }

    .available-times .help-block {
        max-width: 200px;
    }

    .remove-time {
        font-size: 35px;
        right: 30px;
        top: 50%;
        margin-top: -21px;
    }

    .time-spin-btn {
        min-height: 18.5px; // time-input polyfill bugfix
    }


    /* Salvattore.js */
    #grid[data-columns]::before {
        content: '2 .column.size-1of3';
    }
    .column { float: left; }
    .size-1of3 { width: 50%; }

    .about__padding {
        margin: 0 -15px;
    }

    #grid .bannerbox {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 960px) {
    .nav {
        position: relative;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo__img {
        max-width: 300px;
        margin-bottom: 24px;
    }

    .header .social {
        position: absolute;
        left: 0;
        top: 30%;
        margin-top: 0;
    }

    .header .social li {
        margin-left: 0;
        margin-right: 12px;
    }

    .nav__links {
        position: absolute;
        right: 0;
        top: 30%;
    }

    .form-column {
        width: 50%;
        padding-right: 2em;
        float: left;
    }

    .time-range-slider {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .nav__link {
        font-size: 18px;
        margin-left: 10px;
    }

    .intro__title {
        font-size: 4em;
    }

    .intro__lead {
        font-size: 1.7em;
    }
}
